/* Ensure full-screen layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #f3befa;
  align-items: center;
  font-family: 'Pixelify Sans', sans-serif;
}



/* Toolbar styles */
#toolbar {
  display: flex;
  gap: 10px;     /* spacing between items */
  margin: 10px 0;
  align-items: left;
}

/* Grid container centers the grid */
#gridContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Pixel grid */
#grid {
  display: grid;
  aspect-ratio: 1 / 1;
  background: white;
  border: 0px;
  image-rendering: pixelated; /* keeps pixel look */
}

/* Each pixel cell */
.pixel {
  border: 0.5px solid #ddd; /*just in case if I want grid lines */
  background: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Font import */
@font-face {
  font-family: 'Pixelify Sans';
  src: url('art_SVG/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
